body {
  background-color: #eaecf0;
}

.la_logo {
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  margin-left: 0;
  margin-top: 0;
}

.la_buttonsLogInSignUp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: none;
}

.la_button {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #f2f4f7;
  color: #98a2b3;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: none;
}
.la_buttonSelected {
  color: #f2ca99;
  border: 1px solid #f2ca99;
}

.la_titles {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  margin-bottom: 0.5em;
}

.la_inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  margin-top: 0.5em;
}

input {
  width: 110%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.la_inputField:focus {
  border-color: #f2ca99;
  box-shadow: 0 0 8px #f2ca99;
}

.la_container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 100%;
  margin-top: 0;
  padding: 20px;
  box-sizing: border-box;
}

.la_h2 {
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 575px;
}

.la_googleButton {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.la_buttonRegistrarse {
  font-size: 20px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color: #7d8490;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  border: 1px solid #f2ca99;
  border-color: rgb(181, 177, 177);
}

.la_passwordField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.la_passwordInput {
  flex-grow: 1;
  margin-right: 10px;
  width: 40%;
  height: 50px;
  padding: 0 10px;
}

.la_fas {
  cursor: pointer;
}

.la_b {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: rgb(177, 17, 17);
  font-family: "Raleway", sans-serif;
}

.la_button2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-width: 3px;
  border-color: rgb(194, 192, 192);
}

.la_selected {
  background-color: #f2ca99;
}

.la_textobotones {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: small;
  margin-top: 20px;
}

.la_buttonsContainer {
  display: flex; /* Coloca los elementos en la misma línea */
  align-items: center; /* Centra los elementos verticalmente */
  gap: 10px; /* Espacio entre los elementos */
  align-content: center;
}

.la_buttonIniciar {
  align-self: flex-end;
  margin-top: 20px;
  width: 110%;
  height: 45px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  background-color: white;
  color: grey;
  border: 1px solid rgb(154, 150, 150);
}
