.Contenedor{
display: flex;
flex-direction: column;
gap: 20px;
}

.UsuarioHeader{
    display: flex;
    align-items: center;
    color: #000000;
    gap: 5px;
    }

.username{
    font-weight: 800;
    font-size: 20px;
}

.ParteIzquierda > p{
background-color: #D0D5DD;
border-radius: 15px;
border: 0;
outline: 0;
padding: 10px 20px;
max-width: fit-content;
}

.Agrupaciones{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    max-width: fit-content;
}

.ParteDerecha{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.TextArea{
padding: 10px;
min-width: 20px;
min-height: 100px;
}

.Rating{
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
justify-content: center;

}

.Estrellas{
    display: flex;
    flex-direction: row;
}

.Rating > button{
    display: flex;
    align-items: center;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}







